<div class="page-header">
	<h1><%= @user.first_name %></h1>
</div>


<% if @markers %>
	<% @markers.each do |marker| %>
		<div>
			<%= marker.marker_content %>
			<hr />
			<%= link_to time_ago_in_words(marker.created_at), marker_path(marker) %> ago

		</div>
	<% end %>
<% end %>